
@{
    var products = ViewBag.ProductList;
}

<link rel="stylesheet" href="/css/style.css">


<!-- Display user's name and logout link -->
<div class="user-info">
    Welcome, Placeholder!
    
</div>



<!-- Display products in grids -->
<div class="product-grid">
    @foreach (var product in products)
    {
        <div class="product-box">
            <img src="@Url.Content(product.ProductImgSrc)" />
            <h3>@product.ProductName</h3>
            <p>@product.ProductDescription</p>
            <div class="product-actions">

                <button>$@product.ProductPrice | Add to Cart</button>
            </div>
        </div>
    }
</div>
